<!DOCTYPE html>
<html>
<head>
<title>One Day at a Time</title>
</head>

<body>
    <nav>
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Articles</a>
    <a href="#">Contact</a>
  </nav>
  <img src="http://i.kinja-img.com/gawker-media/image/upload/jour87ix9aoikm1zpjct.jpg" width="800"/>
  <hr/>
  <h1>Daily ramblings</h1>

  <h3>Most recent posts</h3>
 <h4>Date</h4>
  <div><b>Title</b></div>
 <p>Sample Text Vodka sundowner; cardhu elit a, malesuada slammer royale savoy corpse reviver facilisis ut long island iced tea, glenkinchie mattis dictum gravida. Semper, quisque pink lady lacus; morbi a lorem singapore sling glendullan hendrerit; non enim--sociosqu nulla phasellus ron rico. Tincidunt; daiquiri linkwood netus old crow scelerisque, eros; montgomery: mattis pharetra glenrothes placerat cointreau wild turkey habitasse link up, glen keith. Charro negro porttitor integer lagavulin christian brothers torquent; tempus fusce quis, "old etonian quam diam aliquet sollicitudin, primis." Ullamcorper fusce fringilla glendronach duis, dictumst bloodhound aultmore early times. Curacao punch suspendisse nunc, mi magna, harvey wallbanger?" Malesuada, ac, "gibson nisl kir royale," madras torquent creamsicle eleifend lectus; cutty sark scots whisky. Dalmore; ut torquent aliquet, lacinia netus leo. Fusce rhoncus scelerisque pulvinar kir, adipiscing springbank volutpat.</p>


</body>
</html>