<!DOCTYPE html>
<html>
<head>
<title>One Day at a Time</title>
</head>
<body>
    
  <img src="http://i.kinja-img.com/gawker-media/image/upload/jour87ix9aoikm1zpjct.jpg" align="middle" width="800">
  <hr>

  <h3>Most Recent Post</h3>
  
  
  <div>
  <a href="/posts">All Posts</a>
  </div>
  <div>
  <a href="/posts/new/">Create New Post</a>
  </div>

</body>
</html>