<h1> All Posts </h1>

<a href = "/posts/new">Create NEW post</a>

<% @posts.each do |p| %> 
    <div class="links">
<%= link_to p.title, post_path(p) %>
    </div>
<% end %> 

<a href = "/posts">Go BACK</a>

