// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font: 40px Arial, sans-serif;
  color: #d3d3d3;
  background: #008080;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #000000;

}

h2 {
  font:  24px Arial, sans-serif;
  color: black;
}

h4 {
  border-radius: 5px;
  background: #d3d3d3;
  color:  #04B486;
  box-shadow: 1px 1px 5px #000000;

}

.links {
  background: #d3d3d3;
  color:  #04B486;
font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

